<!-- <div style="width: 500px; margin: auto;">
  <div *ngIf="currentEtudiant" class="edit-form">
    <h4>Etudiant</h4>
    <form>
      <div class="form-group">
        <label for="nom">Name</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="currentEtudiant.nom" name="nom" />
      </div>

      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="currentEtudiant.prenom" name="prenom" />
      </div>

      <div class="form-group">
        <label for="matricule">Matricule</label>
        <input type="text" class="form-control" id="matricule" [(ngModel)]="currentEtudiant.matricule" name="matricule" />
      </div>

      <div class="form-group">
        <label for="owner">Owner</label>
        <input
          type="text" class="form-control" id="owner" [(ngModel)]="currentEtudiant.owner"  name="owner" />
      </div>

      <div class="form-group">
        <label><strong>Nom</strong></label>

      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteEtudiant()">
      Delete
    </button>

    <button
      type="submit" class="badge badge-success" (click)="updateEtudiant()">
      Update </button>
    <p></p>
  </div>

  <div *ngIf="!currentEtudiant">
    <br />
    <p>This etudiant is not accessible</p>
  </div>
</div>
 -->